#scanner-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 4px solid #333;   /* <-- Aquí el borde */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3; /* Mantiene proporción estándar de cámara */
  background-color: #000;
}

#video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border: none; /* Quita el borde de aquí */
}


#result {
  margin-top: 20px;
  font-size: 1.5em;
}
