body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
}



#scanner-preview {
  width: 100%;
  height: auto;
  transform: scaleX(-1); /* Invertido como espejo */
}


#result {
  margin-top: 20px;
  font-size: 1.5em;
  color: #222;
}
